// Variables
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
}

* {
    padding: 0; 
    margin:0;
    box-sizing: border-box;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font: $roboto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    flex: 1 1 auto;
}

section {
    padding: 3rem 0;
}

.section__title {
    margin-bottom: 4rem;
    font: $roboto-xl;
}

button {
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: $color-background-primary;
    color: $color-secondary;
    font: $roboto;
    transition: $transition-2;
    cursor: pointer;
    &:hover {
        background: $color-background-white;
        color: $color-primary;
        border: 2px solid $color-primary;
    }
}

.bttn--transparent {
    background: $color-background-white;
    color: $color-primary;
    border: 2px solid $color-primary;
}

.rs-icon{
    width: 60px;
    height: 30px;
    background: url("./assets/img/rs_school.svg") no-repeat center;
}

.play-icon{
    width: 24px;
    height: 24px;
    background: url("./assets/img/play-icon.svg") no-repeat center;
}

.page {
    margin: 3rem 0;

    &__title {
        margin-bottom: 2rem;
        font: $roboto-xl;
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 1rem);
    padding: 1rem;
    box-shadow: $shadow-1;
    border-radius: 5px;

    &__image {
        width: 100%;
    }

    &.hard {
        border: 2px solid red;
    }

    &.easy {
        border: 2px solid blue;
    }
}

.pagination {
    display: flex;
    gap: 1rem;
    order: 3;

    &__item {
        color: $color-primary;
        border: 1px solid;
        text-decoration: none;

        &.active {
            color: red;
        }
    }
}

