// Variables
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0; 
    margin:0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: $roboto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

section {
    padding: 3rem 0;
}

.section__title {
    margin-bottom: 4rem;
    font: $roboto-xl;
}

button {
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: $color-background-primary;
    color: $color-secondary;
    font: $roboto;
    transition: $transition-2;
    cursor: pointer;
    &:hover {
        background: $color-background-white;
        color: $color-primary;
        border: 2px solid $color-primary;
    }
}

.bttn--transparent {
    background: $color-background-white;
    color: $color-primary;
    border: 2px solid $color-primary;
}

.rs-icon{
    width: 60px;
    height: 94px;
    background: url("./assets/img/rs_school.svg") no-repeat;
}

