// Fonts
$roboto: normal 300 14px/19px 'Roboto';
$roboto-small: normal 300 10px/19px 'Roboto';
$roboto-medium: normal 300 18px/22px 'Roboto';
$roboto-xl: normal 500 32px/32px 'Roboto';

// Colors
$color-primary: #000;
$color-secondary: #ccc;
$color-link: #968fff;
$color-background-white: #fff;
$color-background-primary: #000;
$color-background-secondary: #666;

//Effects
$transition-1: .1s linear;
$transition-2: .5s ease-in-out;
$shadow-1: 0px 6px 19px -1px rgba(34, 60, 80, 0.15);

