/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/global.scss ***!
  \**********************************************************************************************************/
body {
  display: flex;
  color: #ffffff;
  height: 90vh;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #161122; }
  body div:nth-last-child(1) {
    margin-top: 110px; }
  body div {
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
    font-family: inherit;
    justify-content: inherit;
    font-size: inherit; }
    body div img {
      position: absolute;
      -webkit-user-drag: none;
      user-select: none; }
    body div div {
      margin: 4px; }
    body div div:nth-last-child(1) {
      margin-top: 20px;
      font-size: 14px;
      background-color: #661cf8; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotating {
  animation: rotating 3s linear infinite; }

