// Variables
@import '../../../variables.scss';

.footer {
    padding: 1.5rem 0 0.5rem;
    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__menu-title {
        margin-bottom: 1rem;
        font: $dela-gothic-24px;
        font-weight: 500;
    }

    &__menu-item a {
        text-decoration: none;
        color: red;
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0 0;
        border-top: 1px solid #ccc;
    }
}