// Variables
@import '../../../variables.scss';

.container {
  height: 100%;	
}

.game {
  display: flex;
  height: 100%;	

  &__wrapper {
    margin: auto;   
    padding: 10px 0;
    max-width: 800px;
    width: 100%;
  }

  &__window {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 14px;
    padding: 20px 40px;
    //height: 415px;
    background: #ffffff;
    gap: 10px;
  }

  &__block {
    position: relative;
  }
  
  &__title {
    font: $dela-gothic-48px;
    color: $color-primary;
  }

  &__desc {
    padding-top: 20px;
    font: $montserrat-16px;
    color: $color-grey-dark;
  }

  &__text {
    padding-top: 30px;
    font: $montserrat-14px;
    color: $color-grey-dark;
  }

  &__start {
    margin-top: 30px;
  }
  
  &__skill {
    position: absolute;
    top: 11px;
    right: 0;
    font: $montserrat-12px;
    background-color: $color-cyan-light;
    color: $color-cyan-dark;
    padding: 4px 8px; 
    border-radius: 6px;
  }
}

.levels {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  gap: 24px;
  //gap: 5%;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding: 0;
    //background-color: transparent;
    border-radius: 50%;
    border: 3px solid black;
    font: $montserrat-16px;
  }

  [type="radio"] { 
    display: none;
  }
}

@mixin radioBtn($colors...) {
  @for $i from 1 to length($colors) + 1 {
    #level-#{$i} {
      & + label {
        color: #{nth($colors, $i)};
        border-color: #{nth($colors, $i)};
        &:hover {
          background-color: #{fade-out(nth($colors, $i), 0.9)};
        }
      }
      &:checked + label {
        color: white;
        border-color: #{nth($colors, $i)};
        background-color: #{nth($colors, $i)};
      } 
    }
  }
}

@include radioBtn($color-green, $color-yellow, $color-orange, $color-red, $color-pink,  $color-cyan);

.audio {
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__question {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 52px;
      width: 140px;
      height: 140px;
      background-color: transparent;
      border-radius: 100%;
      border: 5px solid $color-cyan-dark;
      color: $color-cyan-dark; 
      opacity: 1;
      visibility: visible;
      transition: $transition-2;
      
      &:hover {
        background-color: $color-cyan-dark;
        & img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(0%) hue-rotate(269deg) brightness(107%) contrast(107%);
        }
        & span {  
          color: #ffffff;
        }
      }   
    }

    &__img {
      transition: $transition-2;
    }

    &__text-play {
      transition: $transition-2;
    }

    &__attempts {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    &__icon-heart  {
      font: $dela-gothic-32px;
      color: $color-pink-dark;
      transition: $transition-1;

      &_miss {
        color: $color-pink-light;   
      }
    }

    &__choices {
      display: flex;
      // justify-content: center;
      justify-content: space-around;
      gap: 10px;
      //row-gap: 3vw;
      width: 100%;
    }

    &__choice {
      padding: 10px; 
      border-radius: 100px;
      border: 3px solid $color-grey-icon;
      color: $color-grey-icon;
      background-color: transparent;
      font: $montserrat-16px;
      transition: $transition-1;
  
      &:hover {
        background-color: transparent;
        border-color: $color-grey-dark;
        color: $color-grey-dark;
      }

      &.disabled{
        pointer-events: none;
        &[data-answer] {
          border-color: $color-pink-dark;
          color: $color-pink-dark;
        }
      }

      &.active{
        &[data-answer] {
          border-color: $color-green;
          color: $color-green;
        }
        border-color: $color-cyan-dark;
        color: $color-cyan-dark;
      }
    }  
} 

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__photo {
    height: 140px;
    border-radius: 14px;
  }

  &__word {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0px 22px 45px -11px rgba(52, 41, 39, 0.08);
    padding: 10px 20px;
  }

  &__play {
    padding: 0;
    background-color: $color-grey-ligth;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0;
    
    &:hover {
      border: none;
      background-color: transparent;
    }
  }

  &__icon-music {
    width: 24px;
    height: 24px;
  }

  &__text {
    font: $montserrat-18px;
    color: $color-grey-dark;
    b {
      color: $color-primary;
    }
  }
}
