// Variables
@import '../../../variables.scss';

.gameresult{
    transition: $transition-1;
    &:hover{
      transform: scale(1.02);
    }
    display: flex;
    //padding: 20px;
    padding: 60px 25px;
    background: white;
    flex-direction: column;
    //max-width: fit-content;
    width: 670px;
    // height: 400px;
    box-shadow: $box-shadow-2;
    border-radius: 14px;

    align-items: center;

    @include tablet {
        width: 100%;
        padding: 20px;
    }
    &__wrapper{
        display: flex;
        gap: 20px;

        @include tablet {
            width: 100%;
            flex-direction: column;
        }
    }
    &__info{
        display: flex;
        flex-direction: row;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
        &-body{
            display: flex;
            flex-direction: column;

            @include tablet {
                align-items: center;
            }
        }
    }
    &__header{
        font: $dela-gothic-32px;
        color: $color-primary;

        @include tablet {
            font: $dela-gothic-24px;
        }
    }
    &__message{
        padding-top: 12px;
        font: $montserrat-16px;
        color: $color-grey-dark;

        @include tablet {
            font: $montserrat-14px;
        }
    }
    &__charts{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        gap: 20px;
    }
    &__actions{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        gap: 20px;

        @include tablet {
            flex-direction: column;
        }
    }
    &__button-replay{
        &:hover {
            background-color: transparent;

            &::after {
                filter: brightness(0) saturate(100%) invert(45%) sepia(15%) saturate(1788%) hue-rotate(145deg) brightness(86%) contrast(86%);
            }
        }
        &::after {
            content: '';
            position: relative;
            top: 1px;
            display: inline-block;
            width: 20px;
            height: 20px;
            color: #000;
            background: url("../../../assets/img/icon-replay.svg") no-repeat left center;
            margin: 0px 5px;
            vertical-align: bottom;
            transition: $transition-1;
        }
    }

    &-chart__body{
        text-align: center;
        &-upper{
            font: $montserrat-14px;
            color: $color-primary;
        }
        &-value{
            font: $dela-gothic-32px;
            color: $color-primary;
        }     
        &-buttom{
            font: $montserrat-16px;
            color: $color-grey-dark;
        }
    }
    &-chart__heart {
        color: $color-red;
    }
}