// Variables
@import '../../../variables.scss';

.gameresultwords{
    display: flex;
    flex-direction: row;
    background: white;
    width: fit-content;
    padding: 40px;
    &__list{
        display: flex;
        height: 200px;
        overflow: auto;
        gap: 10px;
        flex-direction: column;
    }
}

.knowingwords{
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__header{
        display: flex;
        flex-direction: row;
    }
}

.unknowingwords{
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__header{
        display: flex;
        flex-direction: row;
    }
}

.gameresultword{
    display: flex;
    flex-direction: row;
    &__icon{
        svg{
            filter: invert(89%) sepia(7%) saturate(31%) hue-rotate(339deg) brightness(86%) contrast(83%);
        }
    }
    &__body{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}