// Variables
@import '../../../variables.scss';

.header {
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-grey-light;
    box-shadow: inset 0px -1px 0px #e0e0e0;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__logo {
        text-decoration: none;
    }

    &__menu {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 1.22px solid $color-grey-medium;
    }

    &__user-links {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .user {
        display: flex;
        gap:  10px;
        align-items: center;
        font: $montserrat-16px;

        &__avatar {
            display: flex;
            justify-content: center;
            padding: 11px 18px;
            max-width: 44px;
            max-height: 44px;
            letter-spacing:  -0.04em;
            text-align: center;
            color: $color-cyan-dark;
            border-radius: 50px;
            background-color: $color-cyan-light;
            text-transform: uppercase;
        }

        &__name {
            color: $color-grey-dark;
            letter-spacing:  -0.04em;
            text-transform: capitalize;
        }
    }
}
