// Variables
@import '../../../variables.scss';

.page {
    .about__list {
          display: flex;
          flex-direction: column;
          gap: 40px;
          align-items: center;

          .statistics-denied {
              max-width: 800px;
              width: 100%;
          }

          .statistics-denied__body {
              justify-content: center;
          }
      }
}