// Variables
@import '../../../variables.scss';

.page {
    .about__list {
          display: flex;
          flex-direction: column;
          gap: 40px;
          align-items: center;

          .statistics-denied {
              max-width: 800px;
              width: 100%;
          }

          .statistics-denied__body {
              justify-content: center;
          }

          .statistics-denied__heading-header {
              display: flex;
              gap: 14px;

              .label {
                  width: 56px;
                  height: 25px;
                  text-decoration: none;
                  color: #fff;
                  background-color: $color-cyan-dark;
                  &:hover {
                      background-color: $color-primary;
                  }
              }
          }
      }
}