// Variables
@import '../../../variables.scss';

.benefits {
    .benefits__item .container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .benefits__item {
      padding: 5rem 0 5rem;

      &:first-child .container {
          justify-content: space-between
      }

      &:nth-child(even) {
          padding: 0;
          background-color: $color-grey-light;
          .container {
            padding: 1rem 0 0 4.5rem;
            flex-direction: row-reverse;
          }
      }
    }
}