// Variables
@import '../../../variables.scss';

.sprint-game-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sprint-game {
    position: relative;
    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 40px;
        &-info{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
        &-strike{
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            gap: 10px;
            font: $dela-gothic-26px;
        }
        &-words{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }
        &-actions{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }
    &__multiplier{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        span {
            &:nth-child(1){
                font: $dela-gothic-extra;
            }
            &:nth-child(2){
                font: $montserrat-14px;
                color: $color-grey-dark;
                letter-spacing: 1px;
            }
        }
    }
    &__points{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        span {
            &:nth-child(1){
                font: $dela-gothic-extra;
            }
            &:nth-child(2){
                font: $montserrat-14px;
                color: $color-grey-dark;
                letter-spacing: 1px;
            }
        }
    }
    &__word{
        font: $dela-gothic-48px;
    }
    &__translatedWord{
        font: $dela-gothic-26px;
        color: $color-cyan-dark;
    }
    &__normal-strike{
        color: $color-cyan-dark;
    }
    &__empty-strike{
        color:$color-cyan-light;
    }
    &__true-button{
        background-color: $color-green;
        color: white;
        &:hover{
            color: $color-green;
            background-color: transparent;
            outline: 3px solid $color-green;
        }
    }
    &__false-button{
        background-color: $color-red;
        color: white;
        &:hover{
            color: $color-red;
            background-color: transparent;
            outline: 3px solid $color-red;
        }
    }
  }