// Variables
@import '../../../variables.scss';

.statistics{
    padding: 40px;
    background: white;
    border-radius: 14px;
    &-denied{
        display: flex;
        max-width: fit-content;
        flex-direction: row;
        background: white;
        padding: 40px;
        &__body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__heading{
            &-header{}
            &-subtitle{
                max-width: 600px;
            }
        }
        &__buttons{}
    }
    &__tabs{
        display: flex;
        font: $dela-gothic-26px;
        height: 40px;
        gap: 40px;
        cursor: pointer;
        &-tab{
            transition: $transition-1;
            color: $color-grey-dark;
            &:hover{
                color: $color-primary;
            }
            &.active{
                color: $color-primary;
                border-bottom: 2px solid $color-primary;
            }
        }
    }
    &__charts{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 40px;
        background: white;
        border-radius: 14px;
    }
    &__container{
        display: flex;
        gap: 20px;
        width: 100%;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    &__empty{}
    &__body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-heading{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        &-info{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    &__header{
        font: $dela-gothic-32px;
    }
    &__subtitle{
        font: $montserrat-16px;
        color: $color-grey-dark;
    }
    &__wordLearnedTotal{
        font: $dela-gothic-extra;
        &-number{
            display: flex;
            justify-content: center;
            span{
                color: $color-cyan-dark;
            }
        }
        &-subtitle{
            font: $montserrat-16px;
            color: $color-grey-dark;
        }
    }
    &__rightAnswersTotal{
        font: $dela-gothic-extra;
        &-number{
            display: flex;
            justify-content: center;
            span{
                color: $color-cyan-dark;
            }
        }
        &-subtitle{
            font: $montserrat-16px;
            color: $color-grey-dark;
        }
    }
    &__sprint{
        display: flex;
        flex-direction: row;
        gap: 20px;
        & .sprint-image {
            max-width: 70px;
            max-height: 112px;
        }
        &-body{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &-heading{
            display: flex;
            gap: 8px;
        }
        &-header{
            font: $dela-gothic-26px;
        }
        &-info{
            display: flex;
            flex-direction: column;
        }
    }
    &__audiocall{
        display: flex;
        flex-direction: row;
        gap: 20px;
        & .audiocall-image {
            max-width: 70px;
            max-height: 112px;
        }
        & .sprint-image{}
        &-body{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &-heading{
            display: flex;
            gap: 8px;
        }
        &-header{
            font: $dela-gothic-26px;
        }
        &-info{
            display: flex;
            flex-direction: column;
        }
    }
}

#Chart {
    max-height: 400px;
}